* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", Arial, sans-serif;
    background-color: #CBD3DB;
}

.main-container {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
}

.side-rectangle-container {
    width: 6%;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.side-nav-rectangle {
    /*width: 100%;*/
    height: 100vh;
    background-color: #f75959;
    /*background: linear-gradient(135deg, #f75959 0%, #f35587 100%);*/
}

.side-nav-logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#side-nav-icon {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 8px 8px 8px 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(203, 211, 219, 0.26);
    color: white;
    width: 50px;
    height: 45px;
}

#side-nav-icon-special {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 8px 8px 8px 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    color: #f75959;
    width: 50px;
    height: 45px;
}

.logout-box {
    margin: 0 auto;
    margin-top: 45px;
}

#logout-icon {
    padding: 8px 8px 8px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(203, 211, 219, 0.26);
    color: black;
    width: 50px;
    height: 45px;
}

#logout-icon:hover {
    cursor: pointer;
    color: red;
}

.main-body-container {
    width: 94%;
    display: flex;
    flex-direction: column;
}

.pageHeader {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.upper-nav1 {
    width: 50%;
}

.upper-nav {
    list-style: none;
    text-align: center;
    padding: 20px;
}

.upper-nav li {
    display: inline;
    margin-right: 60px;
    color: #696F79;
    font-size: 1.15rem;
    font-weight: bold;
}

li.special-option {
    border-bottom: 5px solid #f75959;
    padding-bottom: 10px;
    color: black;
}

.search-bar-container {
    width: 30%;
}

.search-bar-box {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.search-bar {
    outline: none;
    border: none;
    padding: 10px 10px;
    line-height: 1.5;
    width: 80%;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(203, 211, 219, 0.26);
    font-size: 1rem;
}

.btn-search {
    width: 15%;
    color: white;
    background-color: #f75959;
    border-radius: 0px 15px 15px 0px;
    border: none;
    font-size: 1.3rem;
}

.profile-bar-container {
    width: 20%;
}

.profile-bar-box {
    display: flex;
    flex-direction: row;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
    position: absolute;
}

.profile-bar-Img {
    width: 45px;
    height: 45px;
    border-radius: 100px 100px 100px 100px;
}

#dotsIcon {
    color: #696F79;
    padding-top: 10px;
    padding-left: 4px;
}

.inner-body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.leftRect {
    width: 20%;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
}

.sticky-box {
    position: sticky;
    top: 65px;
}

.profileDetails-container {
    width: 85%;
    margin-top: 4%;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    background-color: rgba(203, 211, 219, 0.26);
    border-radius: 30px 30px 30px 30px;
    padding: 5px 5px 5px 0px;
}

.profileImg {
    border: 1px solid #f75959;
    width: 55px;
    height: 55px;
    border-radius: 100px 100px 100px 100px;
    margin-left: 4%;
}

.profileName-container {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 60%;
}

.profileName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 4%;
    text-align: left;
}

.profile-nickName {
    color: #696F79;
    text-align: left;
}

.side-options-container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.side-options-box-highlighted {
    background-color: rgba(203, 211, 219, 0.26);
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 4%;
    width: 100%;
}

.side-options-box {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 4%;
    width: 100%;
}

.side-options-box-hidden {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 4%;
    width: 100%;
    display: none;
}

.side-options-text {
    color: #f75959;
    font-weight: 800;
    font-size: 1.1rem;
    margin-left: 30%;
    margin-top: 1.2%;
}

.side-options-text-special {
    color: #f75959;
    font-weight: 800;
    font-size: 1.1rem;
    margin-left: 20%;
}

#side-options-Icons {
    color: #f75959;
    margin-left: 5%;
}

.rightRect {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.creat-post-side {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.user-mind-post {
    width: 100%;
    margin-top: 32px;
}

.creat-post-container {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 20px 20px 20px 20px;
}

.user-post {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.profile-img-user-post-box {

}

.profile-img-user-post {
    width: 55px;
    height: 55px;
    border-radius: 100px 100px 100px 100px;
}

.text-area-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin-left: 10px;
}

.text-area {
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 20px;
    width: 90%;
    resize: none;
}

.additional-post-options {
    border-top: 3px solid #696F79;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding-top: 5px;
}

.btn-post {
    width: 15%;
    height: 35px;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: #f75959;
    border-radius: 10px 10px 10px 10px;
    border: none;
    margin-left: 35px;
}

#post-options {
    color: #696F79;
    margin-top: 5px;
    margin-left: 10px;
}

.posts-cards-container {
    margin-top: 20px;
}

.implemented-posts-boxes {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 35px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.post-profile-details {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 100%;
}

.post-profile-details-img {
    width: 45px;
    height: 45px;
    margin-left: 22px;
}

.user-written-post {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    padding: 12px;
    border: 1px solid #696F79;
    letter-spacing: 1px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.post-profile-details-txt {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    width: 35%;
    flex-grow: 1;
}

.profile-det-name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
}

.profile-det-date {
    font-size: 0.95rem;
    color: #696F79;
    font-weight: bolder;
    text-align: left;
}

.delete-post-box {
    justify-content: flex-end;
    text-align: right;
    flex-grow: 1;
    background: none;
    outline: none;
    border: none;
    margin-right: 10px;
}

#delete-post-icons {
    font-size: 1.4rem;
}

#delete-post-icons:hover {
    color: red;
    cursor: pointer;
}

.post-caption-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    width: 100%;

}

.post-caption {
    margin: 0 auto;
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-align: left;
    width: 90%;
}

.caption-Image {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 20px 20px 20px 20px;
}

.post-caption-options {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 40%;
}

#caption-icons-actions {
    margin: 0 auto;
    font-size: 1.5rem;
}

#caption-icons-actions:hover {
    cursor: pointer;
    color: green;
}

.user-friends-groups-container {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.groups-container {
    width: 90%;
    position: sticky;
    top: 95px;
    display: flex;
    flex-direction: column;
    height: 290px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 50px;
}

.groups-container-title {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.add-group-txt {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 5px;
    letter-spacing: 1px;
}

#search-group-icon {
    color: #696F79;
    padding-left: 90px;
    margin-top: 3px;
    font-size: 1.5rem;
}

.enrolled-groups {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.enrolled-groups-icons-box {
    display: flex;
    flex-direction: row;
    padding: 4px;
    margin-bottom: 15px;
}

#enrolled-groups-icons {
    width: 20%;
    padding: 2px;
    color: #f75959;

}

.enrolled-groups-icon-txt {
    font-weight: 700;
    padding-top: 8px;
    font-size: 1.1rem;
    width: 80%;
}

.friends-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 310px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    position: sticky;
    top: 405px;
}

.user-friends-img {
    margin-left: 5px;
    width: 45px;
    height: 45px;
}

.add-friend-txt {
    font-weight: 700;
    padding-top: 10px;
    font-size: 1.1rem;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .main-container {

    }

    .side-rectangle-container {
        width: 10%;
    }

    .icons {
        margin-top: 30px;
    }

    #side-nav-icon-special, #side-nav-icon, #logout-icon {
        font-size: 1.6rem;
        width: 40px;
        height: 35px;
    }

    .logout-box {
        margin-top: 5px;
    }

    .pageHeader {
        height: 60px;
    }

    .upper-nav1 {
        width: 70%;
        margin-left: 40px;
    }

    .upper-nav {
        width: 100%;
        margin-top: 16px;
        padding: 0;
        padding-bottom: 15px;
        text-align: left;

    }

    .upper-nav li {
        font-size: 1rem;
        margin-right: 45px;
    }

    .profile-bar-container {
        display: none;
    }

    .search-bar-container {
        width: 30%;
    }
    .search-bar-box {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        margin-left: 6px;
    }
    .search-bar{
        font-size: 0.75rem;
    }
    .inner-body {}
    .leftRect {}

    .profileDetails-container {
        flex-direction: column;
        margin-top: 0;
    }
    .profileImg {
        margin: 0 auto;
        height: 45px;
        width: 45px;
    }

    .profileName-container {
        width: 100%;
        text-align: center;
    }

    .profileName, .profile-nickName {
        text-align: center;
    }

    .profileName {
        font-size: 1rem;
    }

    .profile-nickName {
        font-size: 0.80rem;
    }

    .side-options-box, .side-options-box-highlighted {
        margin-bottom: 15%;
    }

    .side-options-box-hidden {
        display: flex;
        flex-direction: row;
    }

    .side-options-text {
        margin-left: 20%;
        font-size: 1.05rem;
    }

    .side-options-text-special {
        margin-left: 7%;
        font-size: 0.95rem;
    }

    #side-options-Icons {
        font-size: 1.4rem;
    }

    .creat-post-side {
        width: 100%;
    }
    .text-area {
        font-size: 1rem;
    }

    .profile-img-user-post {
        width: 45px;
        height: 45px;
    }

    .btn-post {
        font-size: 0.85rem;
        width: 20%;
        height: 25px;
        margin-top: 5px;
        margin-left: 5px;
    }

    #post-options {
        font-size: 1.5rem;
    }

    .post-profile-details-img {
        width: 35px;
        height: 35px;
    }

    .profile-det-name {
        font-size: 1.08rem;
    }

    .profile-det-date {
        font-size: 0.75rem;
    }

    .user-written-post {
        font-size: 0.85rem;
    }

    .post-caption {
        font-size: 0.85rem;
    }

    .user-friends-groups-container {
        display: none;
    }
}



@media screen and (max-width: 568px) {
    .side-rectangle-container {
        width: 16%;
    }

    .side-nav-logo {
        width: 40px;
        height: 40px;
        margin-left: 16%;
    }

    #side-nav-icon-special, #side-nav-icon {
        font-size: 1.6rem;
        width: 40px;
        height: 35px;
    }
    .logout-hidden {
        display: flex;
        width: 60%;
        margin-top: 25%;
    }
    .logout-btn {
        width: 100%;
    }
    #logout-icon {
        width: 100%;
    }
    #side-nav-icon-settings {
        font-size: 1.6rem;
        margin-top: 30%;
        margin-left: 20%;
    }
    .pageHeader {}

    .upper-nav1 {
        display: none;
    }
    .profile-bar {
        display: none;
    }
    .search-bar-container {
        width: 70%;
        height: 40px;
        margin-left: 30px;
    }
    .search-bar-box {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        margin-left: 6px;
    }
    .search-bar{
        font-size: 0.75rem;
    }
    .inner-body {}

    .leftRect {
        display: none;
    }

    .rightRect {
        width: 100%;
    }

    .creat-post-side {
        width: 100%;
    }
    .user-mind-post{
        margin-top: 15px;
    }

    .text-area {
        margin-top: 8px;
        font-size: 1rem;
    }

    .profile-img-user-post {
        width: 45px;
        height: 45px;
    }

    .btn-post {
        font-size: 0.85rem;
        width: 20%;
        height: 25px;
    }
    #post-options {
        font-size: 1.5rem;
    }

    .post-profile-details-img {
        width: 35px;
        height: 35px;
        margin-left: 8px;
    }

    .profile-det-name {
        font-size: 1.08rem;
    }

    .profile-det-date {
        font-size: 0.75rem;
    }

    .user-written-post {
        font-size: 0.85rem;
    }

    .post-caption {
        font-size: 0.85rem;
        padding: 0;
    }

    .user-friends-groups-container {
        display: none;
    }
}


