* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", Arial, sans-serif;
    background-color: #CBD3DB;
}

.Main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-login {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;

}

.login-description {
    width: 50%;
    background-color: #f75959;
    border-radius: 80px 0px 0px 80px;
}

.login-logo {
    margin-left: 10%;
    margin-top: 10%;
    width: 80px;
    height: 80px;
}

.login-description-title {
    font-family: "Lato", Arial, sans-serif;
    font-size: 2.4rem;
    color: white;
    margin-top: 8%;
    text-align: center;
    font-weight: 900;
    line-height: 1.5;
}

.login-description-subtitle {
    font-family: "Lato", Arial, sans-serif;
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 1.18rem;
    line-height: 1.5;
    font-weight: normal;
}

.btn-sign-up {
    margin-top: 4%;
    margin-left: 40%;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 50px;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}

.btn-sign-up:hover {
    color: black;
    background-color: white;
}

.login-form-wrap {
    font-family: "Lato", Arial, sans-serif;
    width: 50%;
    background-color: white;
    border-radius: 0px 80px 80px 0px;
}

.login-form {
    margin-top: 10%;
    margin-left: 10%;
}

.login-form-title {
    font-family: "Lato", Arial, sans-serif;
    font-size: 1.75rem;
    color: black;
    font-weight: 400;
    line-height: 1.5;

}

.login-form-subtitle {
    color: #8692A6;
    font-family: "Lato", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 0.8%;
    margin-bottom: 3%;
}

#username-field, #password-field {
    display: block;
    margin-left: 2%;
    margin-top: 1.5%;
    margin-bottom: 2%;
    width: 80%;
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid transparent;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}


.filed-labels {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

#btn-login {
    border: 1px solid #f35588;
    color: #fff;
    background-color: #f75959;
    display: block;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 80%;
    height: 48px;
    font-size: 16px;
    border-radius: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}

.remb-txt, .forg-txt {
    font-family: "Lato", Arial, sans-serif;
    display: inline;
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: normal;
}

.remb-txt {
    color: #f75959;
    margin-left: 5%;
}

.checkbox {
    color: #f35588;
    font-size: 20px;
    margin-top: -4px;
    margin-right: 1%;
}

.forg-txt {
    margin-left: 22%;
    color: gray;
}

